<section class="contact">
<h1>Contact Us</h1>
<br>
<%= flash[:notice] %>
<%= form_tag("/static_pages/thank_you") do %>
<form="row">
  <div class="col-md-6">
    <%= image_tag("bike_bears_s.png", alt: "Berlin Bikes Deal Logo") %>
    <h3> Bearlin-bikes.herokuapp.com</h3>
    <h3> Kreuzberg, Berlin</h3>
    <h3> Germany </h3>
  </div>
  <br>
  <div class="col-md-6">
    <div class="form-group">
      <i class="fa fa-user"></i>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>
    <div class="form-group">
      <i class="fa fa-envelope"></i>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <i class="fa fa-comment"></i>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
    </div>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="fa fa-send"> Send</i>
    <% end %>
  </div>
</form>
<% end %>

</section>
