<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.product.description %>
</p>

<p>
  <strong>color:</strong>
  <%= @order.product.color %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag( @order.product.image_url, class: "img-responsive") %>
</p>

<p>
  <strong>price:</strong>
  <%= @order.product.price %>
</p>


 <%#link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', orders_path %>
