<head>
  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<div class="col-md-6">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
      <%= f.email_field :email, autofocus: true, id:"inputEmail", class:"form-control" %>

    <%= f.password_field :password, autocomplete: "off", id:"inputPassword", class:"form-control"  %>
    <br>
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      Remember me
    <% end -%>
    <br>
    <%= f.submit 'Log in', :class => 'btn btn-lg btn-primary btn-block' %>
    <% end %>
  </div >
  <br>
  <%= render "devise/shared/links" %>
</div>
<div class="col-md-6">
  <%= image_tag( 'welcome.png', class: "img-responsive navbar-fixed-bottom site-footer bear-size") %>
</div>
<br><br><br><br>