<% @comments.map do |comment| %>
  <div class="row">
    <hr>
      <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
      <br>by:
      <% if comment.user.first_name.nil? || comment.user.last_name.nil? %>
        Unknown user
      <% else %>
        <%=  "#{comment.user.first_name} #{comment.user.last_name}" %>
      <% end %>
      <% unless current_user.nil? %>
        <% if current_user && current_user.admin? || current_user.moderator? %>
          <%=  render partial:"comments/comment", locals: { comment: comment } %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      <br>
      <%= comment.body %>
      <div class="rated" data-score="<%= comment.rating %>"></div><br>
  </div>
<% end %>
