
<section class="index">
  <div class="big-bear-img"></div>
  <p id="notice"><%= notice %></p>

  <h2>Products</h2>

  <p><h3> Soon you will find our products list! We are working on it</h3></p>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-2 col-md-4">
          <%= product.name %><br>
          <%= product.description %><br>
          <% if product.image_url.nil? %>
            (no image)
          <% else %>
            <%= image_tag(product.image_url, class: "img-responsive") %>
          <% end %>
          <br>
          <%= product.color %>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div> <!-- col-sm-2 col-md-4 -->
      <% end %>
    </div><!-- row -->
  </div><!-- container -->
  <br>
  <%= link_to 'New Product', new_product_path %>
</section>