<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<p>
  <strong><div class="txt-title"><%= @product.name %></div></strong>
</p>
<%= image_tag( @product.image_url, class: "img-responsive img-zoom", width: "750") %>
<div class="col-sm-1 col-md-4 description rating-size" id="average-rating">
  Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
</div>
<div class="col-sm-2 col-md-4 description">
  <strong>Description:</strong>
  <%= @product.description %>
</div>

<div class="col-sm-2 col-md-4 description">
  <strong>color:</strong>
  <% if @product.color.present? %>
    <%= @product.color %>
  <% else %>
    N/A
  <% end %>
</div>
<div class="col-sm-2 col-md-4 description">
  &nbsp;
</div>
<br>
<br>
<br>
<section class="center-items">
  <%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id ) %>
  <% end %>
  <%= render partial: 'comment_form' %>
  <br>
  <% if @product.highest_rating_comment.nil? %>
    Sorry, there are no comments about the product. <br>Be the first writing a review!
  <% else %>
    <div class="top-rated-comment">
      <strong>
        <p>
          <div class="secondary-title product-reviews">Top rated comment:</div>
          <small>
            <em>
              by
              <% if @product.highest_rating_comment.user.first_name.nil? ||
                  @product.highest_rating_comment.user.first_name.nil? %>
                &nbsp;Unknown user
              <% else %>
                <%=  " #{@product.highest_rating_comment.user.first_name} #{@product.highest_rating_comment.user.last_name}" %>
              <% end %>
              <br>
              <%= "#{time_ago_in_words( @product.highest_rating_comment.created_at)} ago" %>
            </em>
          </small>
          <%= @product.highest_rating_comment.body %>
          <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div><br>
        </p>
      </strong>
    </div>
    <p></p>
    <div class="product-reviews">
      <%= render partial: 'comments' %>
    </div>
  <% end %>
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info  @comments %>
    </div>
    <br>
    <%= will_paginate  @comments, :container => false %>
  </div>

  <br><br><br>
  <%= link_to icon('edit','Edit'), edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to icon('chevron-left','Back'), products_path, class: "btn btn-default" %>
</section>