<!DOCTYPE html>
<html>
<head>
  <title>Bearlin Bikes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <script>
      $('#zoom_01').elevateZoom();
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logo" href="/"><%= image_tag("bike_bears_s2.png",size: "80x80", alt: "Bearlin Bike Logo", title:"Home") %>
        </a>
        <a class="txt-title navbar-brand" alt:"Home" href="/" title:"Home">Bearlin Bikes</a>

        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><%= link_to "Bikes", products_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Order", orders_path %></li>
              <li>
                <% if user_signed_in? %>
                  <%= link_to icon('fa fa-sign-out', 'out'), destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to icon('fa fa-sign-in', 'in'), new_user_session_path %>
                <% end %>
              </li>
            </div>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- end navbar-reader -->
    </div><!-- end container -->
  </nav><!-- navbar-fixed-top -->
  <div class="navbar-left form-container">
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %>
    <% end %>
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
  </div>
  <div class="navbar-right form-container">
    <%= form_tag("/products", method: "get") do %>
      <%= search_field_tag :q, nil, { id: 'search-input', placeholder: 'Search for...' } %>
      <%= button_tag(type: "submit", class: "btn btn-secondary") do %>
        <id = 'search-button'><i class="fa fa-search"></i></id>
      <% end %>
    <% end %>
  </div>
  <section class="navbar-space"></section>
  <section class="main">
    <%= yield %>
  </section>
  <footer class="navbar-fixed-bottom navbar navbar-default site-footer">
   &copy; 2016 Bearlin Bikes
 </footer>
 <%= javascript_include_tag "alert_timeout", :type => "text/javascript" %>
</body>
</html>
